<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }

  .message-content small {
    font-size: 12px;
    color: gray;
  }
</style>

<div class="mesage-content">
  <p>Olá, {{name}}</p>
  <p>Esqueceu a senha? Clique no link abaixo para definir uma nova senha:</p>
  <br />
  <p>
    <a href="{{link}}">Definir nova senha</a>
  </p>
  <br />
  <p>
    Obrigado! <br />
    <strong>Equipe GoBarber</strong>
  </p>
  <br />
  <small>Caso você não tenha solicitado essa alteração, ignore esse e-mail.</small>
</div>
